/*Bordes para la tabla y celdas*/
table, th, td{
    border: 1px solid;
}
/*Poner lo bordes boniiitos y centrar la tabla*/
table{
    border-collapse: collapse; margin: auto;
}
td, th {
    width: 100px; height: 35px;
}
caption {
    font-family: Garamond; font-size: 1.5em; font-weight: bold; color: #990000; text-align: center;
}
th {
    font-family: Verdana; font-weight: bold; color:#660033; background-color: #ffffcc;
}
td {
    font-family: Arial; color:#0000cc; text-align: center; background-color: #ccffff;
}
.hueco{
    background-color: white; border-left-color: transparent; border-top-color: transparent;
}