body{
    padding-left: 15em;
    font-family: Arial;
    color: purple;
    background-color: #d8da3d;
}
.ciudad{
    font-family: Comic;    
}
ul{
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 50px;
    top: 100px;
}
img{
    float: right;
    margin-right: 50px;
}
p{
    padding: 10px;
    margin-right: 30em;
    color: black;
    background-color: plum;
    border: solid brown 5px;
}
/*• Para la cabecera h1 ( con el nombre de la ciudad) letra Comic Sans MS.
• Para la lista de enlaces: relleno y margen 0, posición fixed de 50 px a la
izquierda y 100 px arriba.
• Para las imágenes: deben flotar a la derecha y con un margen a la derecha de
50 px.
• Para el párrafo <p>: relleno de 10 px en todas las posiciones, margen a la
drecha de 30 em, color de la fuente negra, color de fondo plum, borde sólido
de color Brown y ancho de 5 px.