*{
    margin: 0px;
}
h1{
    text-align: center;
    margin: auto;
    background-color: #edeeee;
    color: orange;
    border-bottom: 3px solid #4caf50;
    padding: 30px;
}
div{
    max-width: 500px;
    margin: auto;
}
img{
    float: left;
    padding: 1.2em;
}
img:hover{
    background-color: #e8f1f4;
}
