*{
    outline: 1px solid red;
}
.general{
    width: 900px;
    height: auto;
    margin: auto;
    border: solid 1px black;
    border-collapse: collapse;
}
.cabecera{
    width: 900px;
    height: 95px;
    background-color: bisque;
}
.c_izquierda{
    border: 1px solid black;
    width: 200px;
    height: 95px;
    margin-left: 10px;
    font-family: sans-serif;
    float: left;
    font-style: italic;
}
.c_derecha{
    width: 600px;
    height: auto;
    float: right;
    margin: 25px 40px 0px 0px;
    background-color: green;
}
.c_derecha a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
}
.c_derecha ul {
    display: inline;
    margin: 0px;
    padding: 0px;
}
.c_derecha ul li {
    display: inline-block;
}
.c_derecha ul li:hover {
    background: #3ADF00;
}
.c_derecha ul li:hover ul {
    display: block;
}
.c_derecha ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}
.c_derecha ul li ul li {
    background: #0FC40F;
    display: block;
}
.c_derecha ul li ul li:hover {
    background: #0dae0d;
}
.ordenador{
    width: 500px;
    height: 250px;
    margin: 10px 0px 0px 200px;
}
.uno{
    width: 280px;
    height: auto;
    float: left;
}
.uno img{
    width: 100px;
    height: 100px;
}
.uno h2{
    color: #4682B2;
}
.parrafo{
    color: #707070;
    text-align: justify;
    margin: 0px 5px;
}
.boton{
    border: solid 1px #006699;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: fit-content;
}
.boton:hover{
    background-color: #006699;
    color: white;
    transition: background-color 1s;
}
.dos{
    border: solid 6px forestgreen;
    border-style: dotted;
    width: 280px;
    height: auto;
    float: left;
    margin: 0px 9px;
}
.dos img{
    width: 200px;
    height: 100px;
}
.dos h2{
    color: #4682B2;
}
.tres{
    width: 280px;
    height: auto;
    float: left;
}
.limpiar{
    clear: both;
}
.seccion_2{
    width: 900px;
    height: auto;
    overflow: hidden;
}
.seccion_3{
    height: auto;
    margin: 10px 0px;
    overflow: hidden;
}
.s3_izquierda{
    width: 590px;
    height: auto;
    overflow: hidden;
    float: left;
    background-color: aqua;
    color: #6f23f4;
    margin-top: 5px;
}
.s3_izquierda img{
    width: 90px;
    height: 50px;
    float: left;
}
.columna_izq{
    width: 50%;
    float: left;
    padding: 0px 5px;
    box-sizing: border-box;
}
.columna_der{
    width: 50%;
    float: right;
}
.s3_derecha{
    width: 290px;
    height: 245px;
    border: solid 10px #E508BA;
    border-top-color: #A718B3;
    border-left-color: #D423E2;
    border-style: ridge;
    float: right;
}
.s3_derecha h3{
    margin: 5px;
}
.s3_derecha iframe{
    width: 290px;
    margin: 20px 0px 0px 0px;
    height: auto;
}
.pie{
    height: 45px;
    background-color: #F4BB23;
    text-align: center;
}
.pie p{
    width: 500px;
    margin: auto;
    padding-top: 5px;
}
